@model ArtListViewModel

<div style="text-align: center;">
    <h1>Bowls</h1>
    <br>
    <br>

    @foreach (var art in Model.Art)
    {
        if (art.CategoryId == 2)
        {
            <img src="@art.ImageUrl" alt="bowls" style="width:80%; height: 60%;">
            <h2>
                <a asp-controller="Art" asp-action="Details" asp-route-id="@art.ArtId">@art.Name</a>
            </h2>
            <h2>Price: @art.Price $</h2>
            <h3>@art.Description</h3>
            <br>
            <br>
        }
    }
</div>